* {
  box-sizing: border-box;
  background: #3B0D61; /* Pourpre foncé */
  color: #FFFFFF; /* Blanc pur pour le texte */
}

body {
  font-family: Arial;
  padding: 10px;
}

.header {
  padding: 30px;
  text-align: center;
  background: #3B0D61; /* Pourpre foncé */
  color: #FFFFFF; /* Blanc */
}

.header h1 {
  font-size: 50px;
}

.topnav {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #3B0D61;
}

.topnav a {
  color: #FFFFFF; /* Blanc */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background: #FFFFFF; /* Blanc */
  color: #3B0D61; /* Pourpre foncé */
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #3B0D61;
  color: #FFFFFF;
  padding-left: 20px;
}

.card {
  background-color: #3B0D61;
  color: #FFFFFF;
  padding: 20px;
  margin-top: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #3B0D61;
  color: #FFFFFF;
  margin-top: 20px;
}

#quiz {
  margin: 0 auto;
  padding: 20px;
  background: #3B0D61;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(198, 222, 60, 0.2);
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #005A9C; /* Bleu foncé */
  color: #FFFFFF; /* Blanc pur */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #003F72; /* Bleu plus foncé */
  color: #FFFFFF; /* Blanc pur reste */
}