* {
  box-sizing: border-box;
  background: white;
  color: black;
}

body {
  font-family: Arial;
  padding: 10px;
  background: white; 
  color: black;
}

a {
  color: #0000EE;
  text-decoration: underline !important;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
  color: black;
}

.topnav {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #404040;
}

.topnav a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
}

.topnav a:hover {
  background: #606060; 
  color: white;
  text-decoration: underline;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: white;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  color: black;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 20px;
}

#quiz {
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#question {
  margin-bottom: 20px;
  text-align: center;
}

#proposals {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: black;
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333333;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  margin: 5px 2px;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-twitter, .fa-google, .fa-linkedin, .fa-youtube, .fa-instagram, .fa-pinterest, .fa-snapchat-ghost, .fa-skype, .fa-android, .fa-dribbble, .fa-vimeo, .fa-tumblr, .fa-vine, .fa-foursquare, .fa-stumbleupon, .fa-flickr, .fa-yahoo, .fa-soundcloud, .fa-reddit, .fa-rss {
  background: #cccccc;
  color: black; 
}

.skip-to-quiz {
  position: absolute;
  top: -40px;
  left: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  z-index: 1000;
  text-decoration: none;
  border-radius: 5px;
}

.skip-to-quiz:focus {
  top: 10px;
}
